<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BrotliSharpLib" version="0.3.2" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.8.4" targetFramework="net45" />
  <package id="StreamExtended" version="1.0.190" targetFramework="net45" />
  <package id="Titanium.Web.Proxy" version="3.0.883" targetFramework="net45" />
</packages>