<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MarkerMetro.Unity.Pathfinding.Ionic.Zip" version="2.0.0.14" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.8.1.2" targetFramework="net45" />
  <package id="StreamExtended" version="1.0.18" targetFramework="net45" />
  <package id="Titanium.Web.Proxy" version="3.0.130" targetFramework="net45" />
</packages>